<nav class="navbar navbar-expand-lg bg-success" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold" href="/">CRM <span th:text="#{label.system}"></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" th:href="@{'/'}" th:text="#{label.all.applications}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" th:href="@{'/newapplications'}" th:text="#{label.new.applications}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" th:href="@{'/oldapplications'}" th:text="#{label.processed.applications}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" th:href="@{'/addform'}" th:text="#{label.add.applications}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="?lng=en">ENG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="?lng=ru">RUS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>